/* Reset Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset Margins, Paddings, and Basic Styling for Consistency */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Encode Sans", sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.6;
  align-items: center;
}

html {
  font-size: 16px;
}

/* Set core body defaults */
main {
  flex: 1;
}

/* Responsive Images */
img {
  max-width: 100%;
  height: auto;
}

/* Link Styles */
a {
  text-decoration: none;
}

/* Set every element to use border-box */
* {
  box-sizing: border-box;
}

/* Set consistent border, margin, and padding for form elements */
input,
button,
textarea,
select {
  font-size: 1em;
  line-height: 1.6;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 0.25em;
}

.container {
  width: 100%;
}

/* Clearfix hack */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
